@media (max-width: 768px) {
    html{
        font-size: 55%;
    }
    nav {
        width: 580px;
    }

    nav img {
        margin-right: 0px;
        margin-left: -100px;
        width: 100px;
    }

    nav a {
        width: 100%;
        font-size: 16.6px;
    }

    .imagemHeaderItem{
        width: 768px;
    }

    #logo{
        width: 170px;
        margin-top: 270px;
    }

    .textoTop{
        
    }
}