* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    line-height: auto;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: inherit;
  }
  
  body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #f1f1f1;
  }

  nav {
    display: flex;
    padding: 0 10rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #965630;
    position: fixed;
  }

  nav img{
    width: 15%;
    margin: 4%;
    
  }

  nav a{
    color: aliceblue;
    margin-left: 20px;
    font-size: 120%;
  }

  .imagemHeader{
    width: 100%;
  }

  .textoTop{
    color: #D07C4B;
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    margin-top: -500px;
    margin-left:32%;
    text-align: center;
  }

  h1{
    width: 100%;
    font-size: 70px;
    margin-left:-15px;
    animation-duration: 3s;
    animation-name: slide;
    text-align: center;
  }

  .des{
    width: 100%;
    font-size: 30px;
    margin-right:5%;
    animation-duration: 3s;
    animation-name: slide;
  }

  .txt{
    margin-left: -60px;
    align-items: center;
    text-align: center;
  }

  @keyframes slide {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  #logo{
    animation-duration: 2.2s;
    animation-name: slide;
  }

  .produtos{
    margin-top: 30px;
  }

  h2{
    color: #965630;
    border-top: 5px dashed #965630;
    width: 32%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: -100px;
    margin-top: 100px;
    font-family: "Sofia", cursive;
  }
  
  .produtosItens{
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
  }

  .cardItem{
    width: 18rem;
  }
  
    .produtos{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .imagemProduto{
        width: 40%;
    }

    .encomendar{
      border: 2px solid green;
      border-radius: 20px;
      width: 40%;
      background-color: rgb(123, 192, 55);
      margin: auto;
      margin-bottom: 80px;
      align-items: baseline;
      display: flex;
      flex-direction:row ;
      align-items: center;
      gap: 15%;

    }

    .encomendarItem{  
      color: aliceblue;
      font-size: 60%;
      text-align: center;
    }

    .wpp{
      width: 13%;
      margin-left: 2%;
    }

    .produtosItensImage{
      width: 70px;
      margin-bottom: 40%;
    }

    .contatoItens{
      display: flex;
      flex-direction: row;
      gap: 7%;
      margin: auto;
      align-items: center;
      margin-left:10px ;
    }

    .wppContato , .instaContato{
      border: 2px solid #965630;
      margin: 15%;
      gap: -10%;
      padding: 8%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;

    }
    
    h5{
      font-family: "Sofia", coursive;
      color: #965630;
      font-size: 130%;
    }

    .instaContato{
      margin-left: -8px;
    }

    .instaContato:hover{
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    }
    .wppContato:hover{
      box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.432);
    }

    .feedbackItens{
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      background-color: #ffff;
      width: 30%;
      gap:7%;
    }
    
    .verificado{
      width: 50px;
    }

    .feedbackTexto{
      width: 70%;
      text-align: left;
      font-family: "Sofia", cursive;
      text-decoration: none;
    }

    .campoFeedbacks{
      display: flex;
      flex-direction: row;
      gap:2%;
      width: 80%;
      margin: 0 auto;
      margin-top: 13%;
      margin-left: 14%;
    }

    .feedbackItens:hover{
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    }

    .sobreIcon
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .logoLe{
      margin-top: 10%;
      margin-bottom: -10%;
      animation: floatImage 4s ease-in-out infinite;
    }
  
  @keyframes floatImage {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-2.4rem);
      }
      100% {
          transform: translateY(0);
      }
  }

    .textoT{
      margin: 10%;
      font-size: 104%;
      font-family: "Sofia", cursive;
    }




    
 